.fab {
  position: fixed;
  left: 24px;
  bottom: 24px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: var(--accent-2);
  color: #000;
  font-size: 32px;
  font-weight: 700;

  display: grid;
  place-items: center;

  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  border: none;
  cursor: pointer;
}

.fab:hover {
  background: #ab2d0a;
}
